@import 'controlPanel/_controlPanel'
@import 'gallery/_gallery'

div.productSection
    min-height: 578px
    background-color: $dark-white
    padding: 60px 10px
    div.content
        +flex(row, center, stretch)
        gap: 20px
