.accordion .tab {
  border-top: 1px solid #F5F5F5;
  overflow: hidden;
}
.accordion .tab-label {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  margin-left: 28px;
  height: 53px;
  cursor: pointer;
}
.accordion .tab-label-plus {
  height: 10px;
  width: 10px;
  background-image: url("../../assets/plus-dark.svg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  opacity: 0.4;
  margin-right: 9px;
  transition: 0.1s;
}
.accordion .tab-label-plus.active {
  opacity: 1;
  width: 10px;
  height: 10px;
  transform: rotate(45deg);
}
.accordion .tab-label-name {
  font-weight: 300;
  transition: 0.3s;
  padding-top: 4px;
}
.accordion .tab-label-name.active {
  font-weight: 900;
}
.accordion .tab-label:hover .tab-label-plus {
  opacity: 1;
}
.accordion .tab-label:hover .tab-label-name {
  font-weight: 500;
}
.accordion .tab .tab-content-wrapper {
  font-size: 15px;
  font-weight: 300;
  line-height: 20px;
  letter-spacing: 0.022em;
  color: #898787;
  transition: 0.3s;
  overflow: hidden;
}
.accordion .tab .tab-content-wrapper div.tab-content {
  padding: 0 20px 10px 48px;
}

div.controlPanel {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: stretch;
  width: 399px;
  padding: 0;
  background-color: #FEFEFE;
  border: 1px solid #BBBBBB;
  border-radius: 5px;
  border-color: #EBEBEB;
  text-align: left;
}
@media (max-width: 1240px) {
  div.controlPanel {
    width: 100%;
    border: none;
    border-top: 1px solid #BBBBBB;
    border-radius: 0;
  }
}
div.controlPanel div.productTitle {
  padding: 18px 0 12px 20px;
  font-size: 30px;
  font-weight: 500;
  line-height: 37px;
}
div.controlPanel div.productInfo {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: stretch;
  background-color: #FBFBFB;
  border-width: 1px 0px;
  border-style: solid;
  border-color: #EBEBEB;
}
div.controlPanel div.productInfo p.title {
  margin-left: 25px;
  line-height: 54px;
}
div.controlPanel div.bottomSection {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}
@media (max-width: 1240px) {
  div.controlPanel div.bottomSection {
    justify-content: space-between;
  }
}
div.controlPanel div.bottomSection div.priceContainer {
  margin-left: 25px;
}
div.controlPanel div.bottomSection div.priceContainer p.price {
  font-size: 24px;
  line-height: 33px;
  font-weight: 900;
}
div.controlPanel div.bottomSection div.priceContainer p.price span {
  padding-right: 5px;
}
div.controlPanel div.bottomSection div.priceContainer p.desc {
  font-weight: 300;
  font-size: 13px;
  line-height: 18px;
}
div.controlPanel div.bottomSection button.joinBtn {
  flex-grow: 1;
  margin: 21px 25px 21px 20px;
}
@media (max-width: 1240px) {
  div.controlPanel div.bottomSection button.joinBtn {
    flex-grow: 0;
  }
}
@media (max-width: 1240px) and (max-width: 420px) {
  div.controlPanel div.bottomSection button.joinBtn {
    flex-grow: 1;
  }
}
div.controlPanel div.note {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  margin: 20px 30px;
  gap: 10px;
  line-height: 20.49px;
}
div.controlPanel div.note div.icon {
  height: 42px;
  width: 42px;
  background-image: url("../../assets/Measure.svg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}
div.controlPanel div.note p {
  width: 287px;
  font-size: 13px;
  font-weight: 100;
}
@media (max-width: 1240px) {
  div.controlPanel div.note p {
    width: 100%;
  }
}
div.controlPanel div.note p span {
  font-size: 15px;
  font-weight: 900;
}

/********************************************
	BREAKPOINT WIDTHS
********************************************/
/********************************************
	FONTS
********************************************/
/********************************************
	COLOURS
********************************************/
.carousel .control-arrow, .carousel.carousel-slider .control-arrow {
  transition: all 0.25s ease-in;
  opacity: 0.4;
  filter: alpha(opacity=40);
  position: absolute;
  z-index: 2;
  top: 20px;
  background: none;
  border: 0;
  font-size: 32px;
  cursor: pointer;
}

.carousel .control-arrow:focus, .carousel .control-arrow:hover {
  opacity: 1;
  filter: alpha(opacity=100);
}

.carousel .control-arrow:before, .carousel.carousel-slider .control-arrow:before {
  margin: 0 5px;
  display: inline-block;
  border-top: 8px solid transparent;
  border-bottom: 8px solid transparent;
  content: "";
}

.carousel .control-disabled.control-arrow {
  opacity: 0;
  filter: alpha(opacity=0);
  cursor: inherit;
  display: none;
}

.carousel .control-prev.control-arrow {
  left: 0;
}

.carousel .control-prev.control-arrow:before {
  border-right: 8px solid #fff;
}

.carousel .control-next.control-arrow {
  right: 0;
}

.carousel .control-next.control-arrow:before {
  border-left: 8px solid #fff;
}

.carousel-root {
  outline: none;
}

.carousel {
  position: relative;
  width: 100%;
}

.carousel * {
  box-sizing: border-box;
}

.carousel img {
  width: 100%;
  display: inline-block;
  pointer-events: none;
}

.carousel .carousel {
  position: relative;
}

.carousel .control-arrow {
  outline: 0;
  border: 0;
  background: none;
  top: 50%;
  margin-top: -13px;
  font-size: 18px;
}

.carousel .thumbs-wrapper {
  margin: 20px;
  overflow: hidden;
}

.carousel .thumbs {
  transition: all 0.15s ease-in;
  transform: translate3d(0, 0, 0);
  position: relative;
  list-style: none;
  white-space: nowrap;
}

.carousel .thumb {
  transition: border 0.15s ease-in;
  display: inline-block;
  margin-right: 6px;
  white-space: nowrap;
  overflow: hidden;
  border: 3px solid #fff;
  padding: 2px;
}

.carousel .thumb:focus {
  border: 3px solid #ccc;
  outline: none;
}

.carousel .thumb.selected, .carousel .thumb:hover {
  border: 3px solid #333;
}

.carousel .thumb img {
  vertical-align: top;
}

.carousel.carousel-slider {
  position: relative;
  margin: 0;
  overflow: hidden;
}

.carousel.carousel-slider .control-arrow {
  top: 0;
  color: #fff;
  font-size: 26px;
  bottom: 0;
  margin-top: 0;
  padding: 5px;
}

.carousel.carousel-slider .control-arrow:hover {
  background: rgba(0, 0, 0, 0.2);
}

.carousel .slider-wrapper {
  overflow: hidden;
  margin: auto;
  width: 100%;
  transition: height 0.15s ease-in;
}

.carousel .slider-wrapper.axis-horizontal .slider {
  -ms-box-orient: horizontal;
  display: -moz-flex;
  display: flex;
}

.carousel .slider-wrapper.axis-horizontal .slider .slide {
  flex-direction: column;
  flex-flow: column;
}

.carousel .slider-wrapper.axis-vertical {
  -ms-box-orient: horizontal;
  display: -moz-flex;
  display: flex;
}

.carousel .slider-wrapper.axis-vertical .slider {
  flex-direction: column;
}

.carousel .slider {
  margin: 0;
  padding: 0;
  position: relative;
  list-style: none;
  width: 100%;
}

.carousel .slider.animated {
  transition: all 0.35s ease-in-out;
}

.carousel .slide {
  min-width: 100%;
  margin: 0;
  position: relative;
  text-align: center;
}

.carousel .slide img {
  width: 100%;
  vertical-align: top;
  border: 0;
}

.carousel .slide iframe {
  display: inline-block;
  width: calc(100% - 80px);
  margin: 0 40px 40px;
  border: 0;
}

.carousel .slide .legend {
  transition: all 0.5s ease-in-out;
  position: absolute;
  bottom: 40px;
  left: 50%;
  margin-left: -45%;
  width: 90%;
  border-radius: 10px;
  background: #000;
  color: #fff;
  padding: 10px;
  font-size: 12px;
  text-align: center;
  opacity: 0.25;
  transition: opacity 0.35s ease-in-out;
}

.carousel .control-dots {
  position: absolute;
  bottom: 0;
  margin: 10px 0;
  padding: 0;
  text-align: center;
  width: 100%;
  z-index: 1;
}

@media (min-width: 960px) {
  .carousel .control-dots {
    bottom: 0;
  }
}
.carousel .control-dots .dot {
  transition: opacity 0.25s ease-in;
  opacity: 0.3;
  filter: alpha(opacity=30);
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.9);
  background: #fff;
  border-radius: 50%;
  width: 8px;
  height: 8px;
  cursor: pointer;
  display: inline-block;
  margin: 0 8px;
}

.carousel .control-dots .dot.selected, .carousel .control-dots .dot:hover {
  opacity: 1;
  filter: alpha(opacity=100);
}

.carousel .carousel-status {
  position: absolute;
  top: 0;
  right: 0;
  padding: 5px;
  font-size: 10px;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.9);
  color: #fff;
}

.carousel:hover .slide .legend {
  opacity: 1;
}

.carousel-root {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 820px;
}
@media (max-width: 1240px) {
  .carousel-root {
    width: 100%;
  }
}
.carousel-root .picture {
  height: 473px;
  width: 100%;
  background-image: url("../../assets/Sideboard_picture.webp");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
@media (max-width: 1240px) {
  .carousel-root .picture {
    background-size: contain;
  }
}
@media (max-width: 1240px) and (max-width: 1024px) {
  .carousel-root .picture {
    background-size: cover;
  }
}
@media (max-width: 1240px) and (max-width: 1024px) and (max-width: 768px) {
  .carousel-root .picture {
    background-size: contain;
  }
}
@media (max-width: 1240px) and (max-width: 1024px) and (max-width: 768px) and (max-width: 420px) {
  .carousel-root .picture {
    height: 400px;
  }
}
.carousel-root .picture.thumbPicture {
  height: 85px;
  cursor: pointer;
}
.carousel-root .carousel div.arrow {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 32px;
  width: 32px;
  background-image: url("../../assets/Arrows-black.svg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  opacity: 0.1;
  transform: translateX(0);
  z-index: 1;
}
@media (max-width: 1024px) {
  .carousel-root .carousel div.arrow {
    display: none;
  }
}
.carousel-root .carousel div.arrow:hover {
  opacity: 0.6;
  cursor: pointer;
}
.carousel-root .carousel div.arrow.left {
  left: 20px;
  transform: rotate(180deg);
}
.carousel-root .carousel div.arrow.right {
  left: auto;
  right: 20px;
}
.carousel-root .carousel .control-dots .dot {
  box-shadow: none;
  background-color: #3A3A3A;
  width: 10px;
  height: 10px;
}
.carousel-root .carousel .control-dots .dot .dot-button {
  position: absolute;
  width: 100%;
  height: 100%;
  border: none;
  background: transparent;
}
.carousel-root .carousel .control-next.control-arrow:before {
  display: none;
}
.carousel-root .carousel .control-prev.control-arrow:before {
  display: none;
}
.carousel-root .carousel .thumbs-wrapper {
  margin: 0;
}
@media (max-width: 1240px) {
  .carousel-root .carousel .thumbs-wrapper {
    display: none;
  }
}
.carousel-root .carousel .thumbs-wrapper .thumbs {
  margin: 0;
  padding: 0;
}
.carousel-root .carousel .thumbs-wrapper .thumbs .thumb {
  border: 1px solid #BBBBBB;
  border-radius: 2px;
  opacity: 0.5;
  padding: 0;
  margin-right: 10px;
}
.carousel-root .carousel .thumbs-wrapper .thumbs .thumb.selected, .carousel-root .carousel .thumbs-wrapper .thumbs .thumb:hover, .carousel-root .carousel .thumbs-wrapper .thumbs .thumb:focus {
  border: 1px solid #3A3A3A;
  opacity: 1;
}
.carousel-root .carousel .thumbs-wrapper .thumbs .thumb button {
  border: none;
}

div.productSection {
  min-height: 578px;
  background-color: #F5F5F5;
  padding: 60px 10px;
}
@media (max-width: 1240px) {
  div.productSection {
    padding: 0;
  }
}
div.productSection div.content {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: stretch;
  gap: 20px;
}
@media (max-width: 1240px) {
  div.productSection div.content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 7px;
  }
}/*# sourceMappingURL=productSection.css.map */