@import '../../styles/_mixins.sass'

div.signUp
    position: absolute
    +container(476px)
    top: 0
    left: 0
    text-align: left
    +smMaxBreakPoint
        padding: 45px 25px
    .state
        +flex(column, space-between, stretch)
        text-align: left
        div.icon
            +bg-image(58px, 58px, '../../assets/status_icon.svg')
            margin: 30px auto 20px
        h2.title
            margin: 0
            font-size: 36px
            padding-bottom: 30px
            font-weight: 900
            line-height: 49.18px
            +smMaxBreakPoint
                text-align: left
                font-size: 30px
                line-height: 41px
        p.description
            margin: 0
            line-height: 22px
            padding: 0 10px 30px 0
            +smMaxBreakPoint
                font-size: 16px
        form
            position: relative
            label
                padding: 0
                margin-bottom: 30px
                height: 45px
                +smMaxBreakPoint
                    box-sizing: border-box
                    width: 325px
                input
                    box-sizing: border-box
                    background: #FEFEFE
                    height: 45px
                    line-height: 45px
                    border: 1px solid #BBBBBB
                    border-radius: 62px
                    box-sizing: border-box
                    width: 100%
                    padding: 4px 0 0 22px
                    background: transparent
                    margin-bottom: 30px 
                    &:hover, &:active, &:focus
                        border-color: #3A3A3A
                    &:active::placeholder, &:focus::placeholder
                        color: #3A3A3A
                    &::placeholder /* Chrome, Firefox, Opera, Safari 10.1+ */
                        transform: translateY(1px)
                        opacity: 1 /* Firefox */

                    &:-ms-input-placeholder /* Internet Explorer 10-11 */
                        color: red

                    &::-ms-input-placeholder /* Microsoft Edge */
                        color: red
                button.joinBtn
                    top: 0
                    right: 0
                    position: absolute
                    margin: 0
                    width: auto
                +smMaxBreakPoint
                    width: 122px

        p.note
            font-family: 'Avenir'
            font-style: normal
            font-weight: 300
            font-size: 14px
            line-height: 19px
            letter-spacing: -0.022em
            color: #898787
            span
                text-decoration: underline
                cursor: pointer
    div.close
        +bg-image(32px, 32px, '../../assets/close.svg')
        opacity: .4
        position: absolute
        top: 20px
        right: 20px
        cursor: pointer
        &:hover
            opacity: 1
