@import '../underBar/_underBar'

div.topMenu
    +flex
    height: 60px
    border-bottom: 1px solid $light-grey
    div.logo
        margin: 0 14px
        width: 34px
        height: 34px
        background-image: url('./../assets/logo.svg')
        background-repeat: no-repeat
        background-size: contain
    p.spaceSystem
        margin: 0
        font-size: 24px
        font-weight: 900
        line-height: 60px
    button.joinBtn
        position: absolute
        top: 0
        right: 0
