.testimonials {
  height: auto;
  background-color: #ECEDFC;
  border-top: 1px solid #BBBBBB;
}
.testimonials-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
  height: 100%;
  max-width: 1440px;
  margin: 0 auto;
}
@media (max-width: 420px) {
  .testimonials-content {
    align-items: stretch;
  }
}
.testimonials-content h1 {
  color: #847FFB;
  font-size: 36px;
  line-height: 50px;
  padding-top: 4px;
  margin-top: 60px;
}
@media (max-width: 1024px) {
  .testimonials-content h1 {
    margin-top: 30px;
    font-size: 30px;
    line-height: 41px;
  }
}
.testimonials-content p.description {
  width: 620px;
  color: #847FFB;
  font-size: 24px;
  line-height: 32.78px;
  padding: 0 26px;
}
@media (max-width: 1024px) {
  .testimonials-content p.description {
    font-size: 20px;
    width: auto;
  }
}
.testimonials-content .joinBtn {
  width: 300px;
  margin: 0;
}
@media (max-width: 420px) {
  .testimonials-content .joinBtn {
    margin: 0 26px;
    width: auto;
  }
}
.testimonials-content .reviews-container {
  position: relative;
  height: 340px;
  width: 100%;
  overflow: hidden;
  margin-bottom: 60px;
}
@media (max-width: 1024px) {
  .testimonials-content .reviews-container {
    margin-top: 30px;
  }
}
.testimonials-content .reviews-container .review-container {
  padding: 0 10px;
}
.testimonials-content .reviews-container .review-container div.review {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: stretch;
  width: 293px;
  padding: 0;
  background-color: #F5F5F5;
  border: 1px solid #BBBBBB;
  border-radius: 5px;
  overflow: hidden;
}
@media (max-width: 420px) {
  .testimonials-content .reviews-container .review-container div.review {
    width: 228px;
  }
}
.testimonials-content .reviews-container .review-container div.review div.pictureContainer {
  height: 200px;
  overflow: hidden;
}
.testimonials-content .reviews-container .review-container div.review div.pictureContainer div.picture {
  height: 200px;
  width: 300px;
  background-image: url("../../assets/review.webp");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
@media (max-width: 420px) {
  .testimonials-content .reviews-container .review-container div.review div.pictureContainer div.picture {
    width: 228px;
  }
}
.testimonials-content .reviews-container .review-container div.review div.textContainer {
  margin: 15px 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  height: 108px;
  line-height: 22px;
  text-align: left;
}
.testimonials-content .reviews-container .review-container div.review div.textContainer p.name {
  text-decoration: underline;
}
.testimonials-content .reviews-container .carousel-arrow {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 35px;
  width: 35px;
  background-image: url("../../assets/Arrows-white.svg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  transform: translate(0, -50%);
  z-index: 2;
  border: none;
  background-color: transparent;
}
@media (max-width: 1024px) {
  .testimonials-content .reviews-container .carousel-arrow {
    display: none;
  }
}
.testimonials-content .reviews-container .carousel-arrow:hover {
  background-image: url("../../assets/Arrows-black.svg");
  cursor: pointer;
}
.testimonials-content .reviews-container .carousel-arrow.carousel-prev {
  left: 90px;
  transform: translate(0, -50%) rotate(180deg);
}
.testimonials-content .reviews-container .carousel-arrow.carousel-prev::before {
  content: none;
}
.testimonials-content .reviews-container .carousel-arrow.carousel-next {
  left: auto;
  right: 90px;
}
.testimonials-content .reviews-container .carousel-arrow.carousel-next::before {
  content: none;
}/*# sourceMappingURL=testimonials.css.map */