.categories-carousel-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
  width: 100%;
}
.categories-carousel-container .categories-carousel {
  position: relative;
  height: 400px;
  width: 100%;
  overflow: hidden;
}
.categories-carousel-container .categories-carousel .slides-list {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 20px;
  padding: 0 100px;
  transition: all 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
}
.categories-carousel-container .categories-carousel .slides-list .category {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: stretch;
  width: 295px;
  padding: 0;
  background-color: #847FFB;
  border: 1px solid #BBBBBB;
  border-radius: 5px;
  cursor: pointer;
}
.categories-carousel-container .categories-carousel .slides-list .category .picture-container {
  height: 280px;
  overflow: hidden;
}
.categories-carousel-container .categories-carousel .slides-list .category .picture-container .picture {
  height: 280px;
  width: 295px;
  background-image: url("../../assets/category.webp");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.categories-carousel-container .categories-carousel .slides-list .category .name {
  height: 118px;
  font-size: 30px;
  line-height: 118px;
  color: #FEFEFE;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}
.categories-carousel-container .categories-carousel .arrow {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 35px;
  width: 35px;
  background-image: url("../../assets/Arrows-black.svg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  z-index: 2;
  transform: translateX(0);
}
.categories-carousel-container .categories-carousel .arrow:hover {
  cursor: pointer;
}
.categories-carousel-container .categories-carousel .arrow.left {
  left: 28px;
  transform: rotate(180deg);
}
.categories-carousel-container .categories-carousel .arrow.right {
  left: auto;
  right: 28px;
}
.categories-carousel-container .categories-carousel .arrow.disabled {
  opacity: 0.4;
  cursor: auto;
}
.categories-carousel-container .slider-container {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 8px;
  width: 400px;
  background-color: #FEFEFE;
  border-radius: 10px;
  overflow: hidden;
  cursor: pointer;
}
.categories-carousel-container .slider-container .slider {
  position: absolute;
  top: 0;
  left: 0;
  width: 100px;
  height: 8px;
  background-color: #3A3A3A;
  border-radius: 10px;
  transition: 0.3s;
}
.categories-carousel-container .slider-container .slider-button {
  margin: 0;
  padding: 0;
  border: none;
  background-color: transparent;
  height: 100%;
  width: 25%;
}

.categories-carousel-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
  width: 100%;
}
.categories-carousel-container .carousel-root {
  width: 100%;
}
.categories-carousel-container .carousel-root .slider .category {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: stretch;
  width: 295px;
  padding: 0;
  background-color: #847FFB;
  border: 1px solid #BBBBBB;
  border-radius: 5px;
  margin: 0 auto;
}
@media (max-width: 1024px) {
  .categories-carousel-container .carousel-root .slider .category {
    margin-bottom: 46px;
  }
}
.categories-carousel-container .carousel-root .slider .category .picture-container {
  height: 280px;
  overflow: hidden;
}
@media (max-width: 1024px) {
  .categories-carousel-container .carousel-root .slider .category .picture-container {
    height: 217px;
  }
}
.categories-carousel-container .carousel-root .slider .category .picture-container div.picture {
  height: 280px;
  width: 295px;
  background-image: url("../../assets/category.webp");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
@media (max-width: 1024px) {
  .categories-carousel-container .carousel-root .slider .category .picture-container div.picture {
    height: 217px;
  }
}
.categories-carousel-container .carousel-root .slider .category .name {
  height: 118px;
  font-size: 30px;
  line-height: 118px;
  color: #FEFEFE;
}
@media (max-width: 1024px) {
  .categories-carousel-container .carousel-root .slider .category .name {
    height: 90px;
    font-size: 24px;
    line-height: 90px;
  }
}
.categories-carousel-container .carousel-root .arrow {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 35px;
  width: 35px;
  background-image: url("../../assets/Arrows-black.svg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  z-index: 2;
  transform: translateX(0);
}
@media (max-width: 1024px) {
  .categories-carousel-container .carousel-root .arrow {
    display: none;
  }
}
.categories-carousel-container .carousel-root .arrow:hover {
  cursor: pointer;
}
.categories-carousel-container .carousel-root .arrow.left {
  left: 28px;
  transform: rotate(180deg);
}
.categories-carousel-container .carousel-root .arrow.right {
  left: auto;
  right: 28px;
}
.categories-carousel-container .carousel-root .arrow.disabled {
  opacity: 0.4;
  cursor: auto;
}
.categories-carousel-container .carousel-root .control-dots {
  display: none;
  bottom: 0;
  margin: 0;
}
@media (max-width: 1024px) {
  .categories-carousel-container .carousel-root .control-dots {
    display: block;
  }
}
.categories-carousel-container .carousel-root .control-dots .dot {
  box-shadow: none;
  background-color: #3A3A3A;
  width: 10px;
  height: 10px;
}

.slide-container {
  position: relative;
  height: 8px;
  width: 400px;
  background-color: #FEFEFE;
  border-radius: 10px;
  overflow: hidden;
}
@media (max-width: 1024px) {
  .slide-container {
    display: none;
  }
}
.slide-container .slider {
  position: absolute;
  top: 0;
  left: 0;
  width: 100px;
  height: 8px;
  background-color: #3A3A3A;
  border-radius: 10px;
  transition: 0.3s;
}

.product-categories {
  height: 637px;
  background-color: #F5F5F5;
}
@media (max-width: 1024px) {
  .product-categories {
    height: 468px;
  }
}
.product-categories-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  gap: 30px;
  max-width: 1440px;
  margin: 0 auto;
}
.product-categories-content h1 {
  font-size: 36px;
  font-weight: 900;
}
@media (max-width: 1024px) {
  .product-categories-content h1 {
    font-size: 24px;
  }
}
@media (max-width: 1024px) {
  .product-categories-content h1 span {
    display: none;
  }
}/*# sourceMappingURL=productCategories.css.map */