@import 'accordion/_accordion'

div.controlPanel
    +container(399px, 0, $light-white, 5px)
    border-color: $light-grey
    text-align: left
    +xlMaxBreakPoint
        width: 100%
        border: none
        border-top: 1px solid $grey
        border-radius: 0
    div.productTitle
        padding: 18px 0 12px 20px
        font-size: 30px
        font-weight: 500
        line-height: 37px
    div.productInfo
        +flex(column, space-between, stretch)
        background-color: $white
        border-width: 1px 0px
        border-style: solid
        border-color: $light-grey
        p.title
            margin-left: 25px
            line-height: 54px
    div.bottomSection
        +flex(row, flex-start)
        +xlMaxBreakPoint
            justify-content: space-between
        div.priceContainer
            margin-left: 25px
            p.price
                font-size: 24px
                line-height: 33px
                font-weight: 900
                span
                    padding-right: 5px
            p.desc
                font-weight: 300
                font-size: 13px
                line-height: 18px
        button.joinBtn
            flex-grow: 1
            margin: 21px 25px 21px 20px
            +xlMaxBreakPoint
                flex-grow: 0
                +smMaxBreakPoint
                    flex-grow: 1
    div.note
        +flex(row, center, flex-start)
        margin: 20px 30px
        gap: 10px
        line-height: 20.49px
        div.icon
            +bg-image(42px, 42px, '../../assets/Measure.svg')
        p
            width: 287px
            font-size: 13px
            font-weight: 100
            +xlMaxBreakPoint
                width: 100%
            span
                font-size: 15px
                font-weight: 900
