div.signUp
    position: absolute
    +container(300px)
    top: 0
    left: 0
    text-align: left
    .state
        +flex(column, space-between, stretch)
        text-align: left
        div.icon
            +bg-image(58px, 58px, './../assets/status_icon.svg')
            margin: 30px auto 20px
        h2.title
            margin: 0
            font-size: 36px
            padding-bottom: 30px
            font-weight: 900
            &.success
                text-align: center
        p.description
            margin: 0
            line-height: 22px
            padding: 0 10px 45px 0
        label
            line-height: 21.86px
            span
                color: $red
        button.joinBtn
            margin: 15px 0
            width: auto
        p.note
            font-size: 14px
            line-height: 20.49px
            color: $dark-grey
            padding: 0
            letter-spacing: -0.022em
            font-weight: 100
            span
                text-decoration: underline
                cursor: pointer
    div.close
        +bg-image(32px, 32px, './../assets/close.svg')
        position: absolute
        top: 20px
        right: 20px
        cursor: pointer
        &:hover
            background-image: url('./../assets/close-hover.svg')
