div.underBar
    +flex
    position: absolute
    width: 100%
    top: 15px
    left: 0
    height: 45px
    background-color: $light-green
    color: $green
    transition: .3s
    +lgMaxBreakPoint
        height: 29px
    div.status
        margin: 10px
        +bg-image(19px, 19px, '../../assets/status_icon.svg')
    p
        font-size: 14px
        +smMaxBreakPoint
            font-size: 12px
    &.active
        top: 60px
