.categories-carousel-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
  width: 100%;
}
.categories-carousel-container .carousel-root {
  width: 100%;
}
.categories-carousel-container .carousel-root .slider .category {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: stretch;
  width: 295px;
  padding: 0;
  background-color: #847FFB;
  border: 1px solid #BBBBBB;
  border-radius: 5px;
  margin: 0 auto;
}
@media (max-width: 1024px) {
  .categories-carousel-container .carousel-root .slider .category {
    margin-bottom: 46px;
  }
}
.categories-carousel-container .carousel-root .slider .category .picture-container {
  height: 280px;
  overflow: hidden;
}
@media (max-width: 1024px) {
  .categories-carousel-container .carousel-root .slider .category .picture-container {
    height: 217px;
  }
}
.categories-carousel-container .carousel-root .slider .category .picture-container div.picture {
  height: 280px;
  width: 295px;
  background-image: url("../../../assets/category.webp");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
@media (max-width: 1024px) {
  .categories-carousel-container .carousel-root .slider .category .picture-container div.picture {
    height: 217px;
  }
}
.categories-carousel-container .carousel-root .slider .category .name {
  height: 118px;
  font-size: 30px;
  line-height: 118px;
  color: #FEFEFE;
}
@media (max-width: 1024px) {
  .categories-carousel-container .carousel-root .slider .category .name {
    height: 90px;
    font-size: 24px;
    line-height: 90px;
  }
}
.categories-carousel-container .carousel-root .arrow {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 35px;
  width: 35px;
  background-image: url("../../../assets/Arrows-black.svg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  z-index: 2;
  transform: translateX(0);
}
@media (max-width: 1024px) {
  .categories-carousel-container .carousel-root .arrow {
    display: none;
  }
}
.categories-carousel-container .carousel-root .arrow:hover {
  cursor: pointer;
}
.categories-carousel-container .carousel-root .arrow.left {
  left: 28px;
  transform: rotate(180deg);
}
.categories-carousel-container .carousel-root .arrow.right {
  left: auto;
  right: 28px;
}
.categories-carousel-container .carousel-root .arrow.disabled {
  opacity: 0.4;
  cursor: auto;
}
.categories-carousel-container .carousel-root .control-dots {
  display: none;
  bottom: 0;
  margin: 0;
}
@media (max-width: 1024px) {
  .categories-carousel-container .carousel-root .control-dots {
    display: block;
  }
}
.categories-carousel-container .carousel-root .control-dots .dot {
  box-shadow: none;
  background-color: #3A3A3A;
  width: 10px;
  height: 10px;
}

.slide-container {
  position: relative;
  height: 8px;
  width: 400px;
  background-color: #FEFEFE;
  border-radius: 10px;
  overflow: hidden;
}
@media (max-width: 1024px) {
  .slide-container {
    display: none;
  }
}
.slide-container .slider {
  position: absolute;
  top: 0;
  left: 0;
  width: 100px;
  height: 8px;
  background-color: #3A3A3A;
  border-radius: 10px;
  transition: 0.3s;
}/*# sourceMappingURL=productCategories.css.map */