@import '../../styles/_mixins'
@import '../productCarousel/categoriesCarouselMobile/_categoriesCarouselMobile'
.testimonials
  height: 920px
  width: 100%
  padding: 90px 0
  background-color: #ECEDFC
  +smMaxBreakPoint
    padding-top: 0
  h2
    margin: 0 100px 90px
    font-family: 'Avenir'
    font-style: normal
    font-weight: 900
    font-size: 48px
    line-height: 66px
    text-align: left
    color: #2D299B
    +smMaxBreakPoint
      margin: 0
      padding: 60px 25px
      font-size: 36px
      line-height: 49px
      letter-spacing: -0.011em

  .category
    height: 682px
    width: 365px
    background-color: #fff
    .container
      height: 680px
      margin: 0 10px
      background-color: #fff
      +smMaxBreakPoint
        margin: 0
    .picture-container
      border-radius: 10px 10px 0 0
      width: 100%
      height: 293px
      overflow: hidden
      position: relative

      +smMaxBreakPoint
        width: 100%
        height: auto
      img
        width: 100%
        height: auto
        position: absolute
        top: 50%
        left: 50%
        transform: translate(-50%,-50%)
    .bottom-section
      box-sizing: border-box
      padding: 40px 20px 20px
      text-align: left
      border-radius: 0 0 10px 10px
      border: 1px solid #BBBBBB
      border-top-width: 1px
      border-right-width: 0
      border-bottom-width: 0
      border-left-width: 0
      flex-grow: 1
      display: flex
      flex-direction: column
      justify-content: space-between
      height: 332px
      .description
        width: 100%
        font-family: 'Avenir'
        font-style: normal
        font-weight: 500
        font-size: 24px
        line-height: 33px
        letter-spacing: -0.022em
        color: $black
      .author
        font-family: 'Avenir'
        font-style: normal
        font-weight: 500
        font-size: 16px
        line-height: 22px
        letter-spacing: -0.022em
        text-decoration-line: underline
        color: $black
      .ocupation
        font-family: 'Avenir'
        font-style: normal
        font-weight: 300
        font-size: 16px
        line-height: 22px
        letter-spacing: -0.022em
        color: $black
#root > div > div.testimonials > div > div > div > div.slider-wrapper.axis-horizontal > ul > li > div
  height: 533px
#root > div > div.testimonials > div > div > div > div.slider-wrapper.axis-horizontal > ul > li > div > div
  height: 531px
#root > div > div.testimonials > div > div > div > div.slider-wrapper.axis-horizontal > ul > li > div > div > div.picture-container
  height: 293px
