@import '../../styles/_mixins.sass'

button.joinBtn
    display: flex
    flex-direction: row
    justify-content: center
    align-items: center
    padding: 12.5px 36.5px 11.5px
    width: 190px
    height: 45px
    background: #FFD232
    border-radius: 80px
    border: none

    +smMaxBreakPoint
        width: 135px
    div
        font-family: 'Avenir'
        font-style: normal
        font-weight: 500
        font-size: 16px
        line-height: 22px
        text-align: center
        letter-spacing: -0.011em
        color: #883900
