div.header
    position: relative
    top: 0
    +bg-image(calc(98vh), 100%, './../assets/Beauty-Sideboard-1.png', cover)
    div.shadow
        position: absolute
        width: 100%
        height: 100%
        top: 0
        left: 0
        background: linear-gradient(to bottom left,rgba(0, 0, 0, 0) 65%, rgba(0, 0, 0, 0.7) 100%)
    div.title
        position: absolute
        left: 100px
        bottom: 78px
        width: 559px
        font-size: 64px
        text-align: left
        color: $light-white
        font-weight: 900
    button.seeMore
        position: absolute
        left: 50%
        bottom: 27px
        transform: translateX(-50%)
        height: 45px
        width: 283px
        font-size: 16px
        color: $light-white
        background: none
        border: 2px solid $light-white
        border-radius: 22.5px
    div.signUp
        top: 50%
        left: auto
        right: 100px
        transform: translateY(-50%)
        h2.title
            text-align: center
        div.close
            display: none
