div.serviceBar
    +flex
    height: 70px
    border-width: 1px 0px
    border-style: solid
    border-color: $grey
    div.serviceBarItem
        margin: 0 90px
        +flex
        div
            &.customise
                +bg-image(20px, 22px, './../assets/customise_icon.svg')
            &.delivery
                +bg-image(16px, 23px, './../assets/delivery_icon.svg')
            &.return
                +bg-image(16px, 19px, './../assets/return_icon.svg')
            &.info
                position: relative
                +bg-image(18px, 18px, './../assets/info_icon.svg')
                .tooltip
                    +container(325px, 22px 20px, $light-grey, 2px)
                    border: none
                    visibility: hidden
                    position: absolute
                    z-index: 1
                    top: calc(100% + 32px)
                    left: -150px
                    font-size: 15px
                    line-height: 20px
                    text-align: justify
                    &::after
                        content: " "
                        position: absolute
                        bottom: 100%
                        left: 160px
                        margin-left: -22px
                        border-width: 22px
                        border-style: solid
                        border-color: transparent transparent $light-grey transparent

                &:hover
                    +bg-image(18px, 18px, './../assets/info_icon-Type=Hoover.svg')
                    cursor: pointer
                    .tooltip
                        visibility: visible
        p
            margin: 0 12px
