.serviceBar {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  height: 70px;
  border-width: 1px 0px;
  border-style: solid;
  border-color: #BBBBBB;
}
@media (max-width: 1024px) {
  .serviceBar {
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
  }
}
.serviceBar .serviceBarItem {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
@media (max-width: 1024px) {
  .serviceBar .serviceBarItem {
    margin: 0 25px;
    border-width: 1px 0px;
    border-style: solid;
    border-color: #F5F5F5;
    height: 100%;
    align-self: stretch;
    justify-content: flex-start;
  }
}
@media (max-width: 1024px) and (max-width: 768px) {
  .serviceBar .serviceBarItem {
    position: relative;
  }
}
.serviceBar .serviceBarItem div.customise {
  height: 20px;
  width: 22px;
  background-image: url("../../assets/customise_icon.svg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}
.serviceBar .serviceBarItem div.delivery {
  height: 16px;
  width: 23px;
  background-image: url("../../assets/delivery_icon.svg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}
.serviceBar .serviceBarItem div.return {
  height: 16px;
  width: 19px;
  background-image: url("../../assets/return_icon.svg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}
.serviceBar .serviceBarItem div.info {
  position: relative;
  height: 18px;
  width: 18px;
  background-image: url("../../assets/info_icon.svg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  opacity: 0.6;
}
@media (max-width: 420px) {
  .serviceBar .serviceBarItem div.info {
    position: static;
  }
}
.serviceBar .serviceBarItem div.info .tooltip {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: stretch;
  width: 325px;
  padding: 22px 20px;
  background-color: #EBEBEB;
  border: 1px solid #BBBBBB;
  border-radius: 2px;
  border: none;
  visibility: hidden;
  position: absolute;
  z-index: 1;
  top: calc(100% + 32px);
  left: -150px;
  font-size: 15px;
  line-height: 20px;
  text-align: left;
}
@media (max-width: 420px) {
  .serviceBar .serviceBarItem div.info .tooltip {
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
  }
}
.serviceBar .serviceBarItem div.info .tooltip::after {
  content: " ";
  position: absolute;
  bottom: 100%;
  left: 160px;
  margin-left: -22px;
  border-width: 22px;
  border-style: solid;
  border-color: transparent transparent #EBEBEB transparent;
}
@media (max-width: 420px) {
  .serviceBar .serviceBarItem div.info .tooltip::after {
    border: none;
  }
}
.serviceBar .serviceBarItem div.info:hover {
  opacity: 1;
  cursor: pointer;
}
.serviceBar .serviceBarItem div.info:hover .tooltip {
  visibility: visible;
}
.serviceBar .serviceBarItem p {
  margin: 0 12px;
  padding-top: 4px;
}/*# sourceMappingURL=serviceBar.css.map */